depexts: [
  ["shine"] {os-distribution = "alpine"}
  ["libshine-devel"] {os-distribution = "centos"}
  ["libshine-devel"] {os-distribution = "fedora"}
  ["libshine-devel"] {os-distribution = "opensuse"}
  ["libshine-dev"] {os-family = "debian"}
  ["drfill/liquidsoap/libshine"]
    {os = "macos" & os-distribution = "homebrew"}
]
